$primaryColor: #feba00 !default;
$whiteColor: #ffffff !default;
$blackColor: #000000 !default;
$errorMessage: #fe413b !default;
$successMessage: #3dba6f !default;
$menuBgColor: #161819 !default;
$menuActiveColor: #252728 !default;
$snackbarBgColor: #F2F4FC !default;